@model OneFieldModel

@{
    ViewData["Title"] = "Hierarchy";
}

<form method="post" asp-controller="Hierarchy" asp-action="LoadFromDriveAction">
    <label asp-for="Data">Enter path</label>
    <input asp-for="Data"/>
    <span asp-validation-for="Data"></span>

    <input type="submit" value="Load"/>
</form>
